# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h620ffc9_4.conda
https://conda.anaconda.org/conda-forge/osx-arm64/ca-certificates-2023.7.22-hf0a4a13_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.1-h80987f9_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jpeg-9e-h80987f9_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlicommon-1.0.9-h1a8c8d9_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcxx-16.0.6-h4653b0c_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libdeflate-1.17-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.2.4-h80987f9_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzlib-1.2.13-h53f4e23_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python_abi-3.10-3_cp310.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2023c-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.2-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/yaml-0.2.5-h3422bc3_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/gmp-6.2.1-hc377ac9_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lerc-3.0-hc377ac9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlidec-1.0.9-h1a8c8d9_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlienc-1.0.9-h1a8c8d9_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran5-12.3.0-ha3a6a3e_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsqlite-3.42.0-hb31c410_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.1.2-h53f4e23_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/zlib-1.2.13-h53f4e23_5.conda
https://conda.anaconda.org/conda-forge/osx-arm64/brotli-bin-1.0.9-h1a8c8d9_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran-5.0.0-12_3_0_hd922786_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpfr-4.0.2-h695f6f0_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.41.2-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.12-hb8d0fd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.5-hd90d995_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/brotli-1.0.9-h1a8c8d9_9.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libopenblas-0.3.23-openmp_hc731615_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libtiff-4.5.0-h313beb8_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpc-1.1.0-h8c48613_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python-3.10.12-h01493a6_0_cpython.conda
https://conda.anaconda.org/conda-forge/noarch/blinker-1.6.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2023.7.22-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-2.0.4-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/click-8.1.6-unix_pyh707e725_0.conda
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.11.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/filelock-3.9.0-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/frozendict-2.3.8-py310h2aa6e3c_0.conda
https://conda.anaconda.org/conda-forge/noarch/future-0.18.3-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gmpy2-2.1.2-py310h8c48613_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.4-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/itsdangerous-2.1.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/kiwisolver-1.4.4-py310h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lcms2-2.12-hba8e193_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libblas-3.9.0-17_osxarm64_openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-1.2.4-ha3663a8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markupsafe-2.1.1-py310h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/noarch/monty-2023.8.8-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpmath-1.3.0-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/msgpack-python-1.0.5-py310h2887b22_0.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/networkx-3.1-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openblas-0.3.23-openmp_hf78f355_0.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-23.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/palettable-3.3.3-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.21-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.1.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-tzdata-2023.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pytz-2023.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pyyaml-6.0-py310h8e9501a_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ruamel.yaml.clib-0.2.7-py310h8e9501a_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-68.0.0-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tabulate-0.9.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tenacity-8.2.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-3.2.0-pyha21a80b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing_extensions-4.7.1-py310hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.38.4-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.16.2-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cffi-1.15.1-py310h80987f9_3.conda
https://repo.anaconda.com/pkgs/main/noarch/fonttools-4.25.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-6.8.0-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jinja2-3.1.2-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/joblib-1.3.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/latexcodec-2.0.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libcblas-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-arm64/liblapack-3.9.0-17_osxarm64_openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pillow-9.4.0-py310h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-23.2.1-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/plotly-5.16.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ruamel.yaml-0.17.32-py310h2aa6e3c_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sympy-1.11.1-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.66.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing-extensions-4.7.1-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/werkzeug-2.3.6-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotlipy-0.7.0-py310h1a28f6b_1002.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cryptography-41.0.2-py310h6204c90_0.conda
https://conda.anaconda.org/conda-forge/noarch/flask-2.3.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/liblapacke-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/noarch/pybtex-0.24.0-pyhd8ed1ab_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/pydantic-1.10.12-py310h2aa6e3c_1.conda
https://conda.anaconda.org/pytorch/osx-arm64/pytorch-2.0.1-py3.10_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/blas-devel-3.9.0-17_osxarm64_openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyopenssl-23.2.0-py310hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/blas-2.117-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-1.26.16-py310hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-1.25.2-py310ha9811e2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/requests-2.31.0-py310hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-1.25.2-py310h3b2db8e_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/contourpy-1.0.5-py310h525c30c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pandas-2.0.3-py310h1cdf563_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scipy-1.11.1-py310h20cbe94_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/spglib-2.0.2-py310hf1a086a_0.tar.bz2
https://conda.anaconda.org/pytorch/osx-arm64/torchaudio-2.0.2-py310_cpu.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/torchvision-0.15.2-cpu_py310h31aa045_0.conda
https://conda.anaconda.org/conda-forge/noarch/uncertainties-3.1.7-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-base-3.7.1-py310h46d7db6_1.conda
https://conda.anaconda.org/conda-forge/noarch/pubchempy-1.0.4-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/scikit-learn-1.2.2-py310h98c5782_1.conda
https://conda.anaconda.org/conda-forge/noarch/ase-3.22.1-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/emmet-core-0.64.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/mp-api-0.33.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pymatgen-2023.8.10-py310h11c608e_0.conda
